<div class="signin-box">
    <h1>Sign In</h1>
    <form >
        <div class="textbox">
    <i class="fa fa-user" aria-hidden="true"></i>
    <input type="text" name="uidmail" placeholder="Username" required>
  </div>
  <div class="textbox">
    <i class="fa fa-lock" aria-hidden="true"></i>
    <input type="password" name="pwd" placeholder="Password" required>
      </div>
    <button type="submit" name="login-submit">Login</button>
    <p>Not yet a member? <a href="createaccount.php.html">Create account</a><p>
    </form>

</div>

