<div class="container">

    <h1>FAQs</h1>
    <h2>Table of Contents</h2>
    
      <ol>
      <li><a href="/faq#question1">When can I expect my refund after I e-file my taxes?</a></li>
      <br />
      <li><a href="/faq#question2"> How long does it takes to process my tax return?</a></li>
      <br />
      <li><a href="/faq#question3"> How can I find out if I owe any money for taxes or other debts?</a></li>
      <br />
      <li><a href="/faq#question4"> Can I speak with a tax preparer online about my taxes?</a></li>
      <br />
      <li><a href="/faq#question5"> How long does it take for my state taxes to be processed?</a></li>
      <br />
      <li><a href="/faq#question6"> Can I carry more than three dependents?</a></li>
      <br />
      <li><a href="/faq#question7"> What information will I need to provide to IRS if I get audited?</a></li>
      <br />
      <li><a href="/faq#question8"> How long does it takes to process my tax return?</a></li>
      <br />
      <li><a href="/faq#question9"> How much can I get back on my tax return?</a></li>
      <br />
      <li><a href="/faq#question10"> What are my refund options?</a></li>
      <br />
      <li><a href="/faq#question11"> How long does it take to process an amended return?</a></li>
      </ol>
    
      <br />
    
      <ol>
      <li><a id="question1">When can I expect my refund after I e-file my taxes?</a></li>
      You will receive your federal refund within 3 weeks of filing your tax return. The IRS states that the refunds will be issued in less than 21 days.<br /><br />
      <li><a id="question2">How long does it takes to process my tax return?</a></li>
      Processing time for e-filed tax returns with direct deposit can expect to be processed within 21 days of IRS e-file acceptance date. Mailed paper returns processing time is 6 to 8 weeks from the date the IRS accepts the tax return.<br /><br />
      <li><a id="question3">How can I find out if I owe any money for taxes or other debts?</a></li>
      You can contact the BFS's TOP(offset #) call center at 800-304-3107 or TDD 866-297-0517, Monday through Friday 7:30 a.m to 5p.m CST. You can contact the IRS if your original tax refund amount on your BFS offset notice is different than the amount shown on your tax return.<br /><br />
      <li><a id="question4">Can I speak with a tax preparer online about my taxes?</a></li>
      You can speak to a tax preparer regarding your taxes once an account is created and an appointment is booked to video chat with a 1-on-1 interview with tax preparer to e-file tax return.<br /><br />
      <li><a id="question5">How long does it take for my state taxes to be processed?</a></li>
      For most states e-filed returns can expect a processing time of three weeks if you use direct deposit, however, paper returns takes about six weeks.<br />
      Some states have different guidelines when a tax refund can be expected.<br />
      California processing time is between seven and 12 business days for e-filed returns. Paper returns processing time is two to three months. Please vist <a href="https://www.ftb.ca.gov">California tax refund website</a> to check refund status.<br />
      New York processing time for refunds is within three weeks and paper returns takes about six weeks. Please vist <a href="https://www.tax.ny.gov">New York tax refund website</a> to check refund status.<br />
      Illinois processing time for refunds is within two to three weeks for e-filed returns. Please vist <a href="https://www2.illinois.gov">Illinois tax refund website</a> to check refund status.<br /><br />
      <li><a id="question6">How many dependent exemptions can I carry?</a></li>
      IRS states that a taxpayer can receive EIC for a maximum of 3 dependents. Depending on the income earned child related credits are affected.<br /><br />
      <li><a id="question7">What documents will I need to provide to IRS if I get audited?</a></li>
      Depending on the audit many documents could be requested such as;
      Receipts, Bills, Canceled checks, Legal papers, Divorce settlements, Property acquisition, Loan agreements, Logs or diaries, Tickets, Medical and Dental records. Please refer to <a href="https://www.irs.gov/businesses/small-businesses-self-employed/audits-records-request">IRS.gov</a> for more information.<br /><br />
      <li><a id="question8">How can I check the status of my refund?</a></li>
      You can check the status of your refund on <a href="https://www.irs.gov/refunds">Where's My Refund website</a><br /><br />
      <li><a id="question9">How much can I get back on my tax return?</a></li>
      You can click on the services page and get a free estimate of your taxes based on the income earned and other information provided from your tax documents.<br /><br />
      <li><a id="question10">What are my refund options?</a></li>
      MaxBac allows a taxpayer to choose direct deposit, a paper check, a netspend visa card, or walmart to walmart for refund options.<br /><br />
      <li><a id="question11">How long does it take to process an amended tax return?</a></li>
      IRS states that a form 1040X processing time can take up to 16 weeks once IRS receives it. After mailing the return it will take up to 3 weeks to show up in IRS system.
      </ol>

</div>
