<section id="Join">
    <div class="container">
      <h1> E-File Your Taxes With MaxBac & Get All Your TAX CREDITS!</h1>
      <form>
        <button type= "submit">
            <li>
                <a routerLink="/sign-in" class="button_1">Sign in</a>
            </li>
        </button>
      </form>
    </div>
  </section>

  <section id="main">
    <div class="container">
      <article id="main-col">
        <h1 class="page-title">About Us</h1>
        <p>
          Our company of the Baton Rouge location has proved to be the most convenient tax preparation service. After serving Louisiana areas for years, we decided to develop a user friendly website to prepare taxes for all of the United States citizens and non-citizens. MaxBac is a tax preparation service that provides the best treatment for our clients needs. Maxbac have been in business for years and have trained the best tax preparers to give our customers the maximum refund they deserve. 
          We give our customers the satisfaction they desire by providing options to either go in to the office or online to get their taxes prepared by a professional tax preparer.<br />
          Sign up today and get started with e-filing!
        </p>
        <p class="dark">
          We are determined to give our customers all the tax credits they deserve, keep our clients satisfied, and to give excellent customer service!
       </p>
     </article>

     <aside id="sidebar">
       <div class="dark">
         <h3>What We Do</h3>
         <p>
            MaxBac have the best tax preparers that interview our clients either 1-on-1 in person or online video chat in order to achieve our goal of giving the max refund back to our customers. We provide excellent customer service to all of clients for the satisfaction of our clients needs.
         </p>
       </div>
    </aside>
  </div>
</section>