<section id="Join">
    <div class="container">
      <h1> E-File Your Taxes With MaxBac & Get All Your TAX CREDITS! </h1>
      <form>
        <button type= "submit"><li><a routerLink="/sign-in" class="button_1">Sign in</a></li></button>
      </form>
    </div>

    <div class="container">
        <h2 class="page-title">Services</h2>
          <table>
            <h3>E-Filing 2018</h3>
            <tr>
              <th>Forms</th>
              <th>Pricing</th>
              <th>Description</th>
              </tr>
              <tr>
                <td>1095-A</td>
                <td>$0.00</td>
                <td>Form includes Health Insurance Marketplace Statement</td>
              </tr>
              <tr>
                <td>1040EZ<br /><p>(replaced by form 1040 beginning tax year 2018)</p></td>
                <td>$0.00</td>
                <td>Basic tax return includes wages, salaries, tips, (income less than $100,000)</td>
              </tr>
              <tr>
                <td>1040</td>
                <td>$200.00</td>
                <td>Basic tax return includes wages, salaries, tips income</td>
              </tr>
              <tr>
                <td>1040NR</td>
                <td>$200.00</td>
                <td>Basic tax return includes wages, salaries, tips income</td>
              </tr>
              <tr>
                <td>1040NR-EZ</td>
                <td>$200.00</td>
                <td>Basic tax return includes wages, salaries, tips income</td>
              </tr>
              <tr>
                <td>1040X</td>
                <td>$75.00</td>
                <td>Amendment will be prepared and mailed to IRS for processing</td>
              </tr>
              <tr>
                <td>Schedule A<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Itemized Deductions</td>
              </tr>
              <tr>
                <td>Schedule B<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Interest and Ordinary Dividends</td>
              </tr>
              <tr>
                <td>Schedule C<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Profit or Loss from Business</td>
              </tr>
              <tr>
                <td>Schedule C-EZ<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Net Profit from Business (Sole Proprietorship)</td>
              </tr>
              <tr>
                <td>Schedule D<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Capital Gains and Losses</td>
              </tr>
              <tr>
                <td>Schedule E<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Supplemental Income and Loss</td>
              </tr>
              <tr>
                <td>Schedule F<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Profit or Loss from Farming</td>
              </tr>
              <tr>
                <td>Schedule H<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Household Employment Taxes</td>
              </tr>
              <tr>
                <td>Schedule J<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Income Averaging for Farmers and Fisherman</td>
              </tr>
              <tr>
                <td>Schedule H<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Household Employment Taxes</td>
              </tr>
              <tr>
                <td>4562<br />(form 1040)</td>
                <td>$50.00</td>
                <td>Form includes Proposed Depreciation and Amortization</td>
              </tr>
              <tr>
                <td>2106-EZ</td>
                <td>$0.00</td>
                <td>This form will be eliminated for Tax Year 2018-Tax Season 2019</td>
              </tr>
              <tr>
                <td><p>If there is a tax form not listed please ask tax preparer and they will assist you!</p></td>
              </tr>
          </table>

     <aside id="sidebar">
       <div class="dark">
         <h3>Get Your Free Estimate</h3>
         <p>You can get a free estimate before e-filing with MaxBac to see what your refund estimates to. To get your free estimate <a href="https://wwww.calculator.net/tax-calculator.html" >click here</a>, after you get your free estimate please click back on browser to return back to MaxBac.
           <style>
           .dark a:visited{
            color:#28cf48;
            font-weight: bold;
           }

           .dark a:hover{
            color:#ffffff;
            font-weight: bold;
            background: #28cf48;
           }
           </style>
           </p>
       </div>
    </aside>
  </div>
</section>