<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                                <form enctype="multipart/form-data">
                                    Upload Image
                                     <input type="file" id="file" (change)="handleFileInput($event.target.files)">
                                </form>
                            <div class="mt-3">
                                <h4>Username</h4>
                                <p class="text-secondary mb-1">Customer / Employee</p>
                                <button class="btn btn-primary">Follow</button>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Name From API
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Email From API
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Contact Info From API
                            </div>
                        </div>
                        <hr>
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h1> Message Board </h1>
                                <app-messageboard></app-messageboard>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h1> Chat with an Associate </h1>
                                <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
                                <div id="videos">
                                    <div id="subscriber"></div>
                                    <div id="publisher"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                             <h1> Uploads </h1>

                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                Upload Receipts
                                <input type="file" name="fileToUpload" id="fileToUpload">
                            </form>
                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                Upload W2s
                                <input type="file" name="fileToUpload" id="fileToUpload">
                            </form>
                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                Upload Insurance Documents
                                <input type="file" name="fileToUpload" id="fileToUpload">
                            </form>
                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                Upload License
                                <input type="file" name="fileToUpload" id="fileToUpload">
                            </form>
                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                Upload Other
                                <input type="file" name="fileToUpload" id="fileToUpload">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
