<section id="showcase">
    <div class="showcase-overlay"></div>
    <div class="container">
      <div class="wrapper">
      <h3><span class="blink1">$$$</span>30 Referral Fees!</h3>
    </div>
    <div class="wrapper1">
      <h3><span class="blink2">$$$</span>Easy Advance Loans Up to $6000!</h3>
    </div>
      <div class="tax">
    <span class="text"> IT'S TAX TIME!</span>
  </div>
      <p>MaxBac strives to give you treatment for your taxes. You can download your ID, W2, 1099 etc. on any mobile device or computer and have a live video conference with a tax preparer to e-file your tax return.</p>
    </div>
  </section>

  <section id="Join">
    <div class="container">
      <h1> E-File Your Taxes With MaxBac & Get All Your TAX CREDITS!</h1>
      <form>
        <button type= "submit"><li><a routerLink="/sign-in" class="button_1">Sign in</a></li></button>
      </form>
    </div>
  </section>

  <section id="boxes">
    <div class="container">
      <div class="box">
        <img src="../../assets/shared/img/logo.login.png">
        <h3>1. LOGIN or REGISTER</h3>
        <p>Login or register with MaxBac and complete the setps to verify your idenity to get started with e-filing.</p>
    </div>
    <div class="box">
      <img src="../../assets/shared/img/logo.upload.png">
      <h3>2. UPLOAD DOCUMENTS</h3>
      <p>Uploading documents is easy, just click on which document you would like to upload, browse and submit.</p>
    </div>
    <div class="box">
      <img src="../../assets/shared/img/logo.efile.png">
      <h3>3. E-FILE TAXES</h3>
      <p>E-file your tax return and interview live with a professional tax preparer on any mobile device or computer.</p>
    </div>
  </div>
</section>
